$error-color: red;
$flexbox-color: #f9f9f9;
$sucess-color: rgb(138, 233, 138);
$buttton-color: #3498db;
.reg-header{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}
.reg-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: $flexbox-color;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    .reg-form-label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }
    .reg-form-input {
        width: 80%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .reg-form-input-interests {
        width: 60%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .reg-form-input-error {
        width: 80%;
        padding: 10px;
        border: 1px solid $error-color;
        border-radius: 4px;
    }
    .reg-form-input:focus {
        border-color: skyblue;
        outline: none;

    }
    .error-message{
        color: $error-color;
        font-size: 14px;
        margin-top: 5px;
    }
    .reg-add-button{
        width: 20%;
        padding: 10px;
        background-color: $buttton-color;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin-left: 10px;
    }
    .reg-submit-button {
        width: 100%;
        padding: 10px;
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }
}
.reg-success-box{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: $sucess-color;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}